@import "./common.scss";

.wrap {
  height: 100%;
}

.body {
  display: flex;
}

.gameTitles {
  border: 1px solid red;
  padding: 8px;
  border-radius: 7px;
  margin: 10px;
  background-color: $buttonColor;
  &:hover {
    filter: brightness(97%);
    cursor: pointer;
  }
}
