@import "styles/common.scss";

.wrap {
  display: flex;
  flex-direction: column;
}

.levels {
  display: flex;
  span {
    padding: 5px;
    margin: 6px;
    background-color: $buttonColor;
    border: 1px solid lightgray;
    border-radius: 7px;
    &:hover {
      cursor: pointer;
      filter: brightness(97%);
    }
  }
}
